atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
cycler==0.10.0
docopt==0.6.2
Fiona @ file:///C:/Users/grego/OneDrive/College/Kenya%20Research/Fiona-1.8.20-cp39-cp39-win_amd64.whl
gdal @ file:///C:/Users/grego/OneDrive/College/Kenya%20Research/GDAL-3.3.1-cp39-cp39-win_amd64.whl
geojson==2.5.0
geopandas @ file:///C:/Users/grego/OneDrive/College/Kenya%20Research/geopandas-0.9.0-py3-none-any.whl
idna==3.2
iniconfig==1.1.1
joblib==1.0.1
Js2Py==0.71
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.2
meteostat==1.5.7
munch==2.5.0
numpy==1.21.0
OSMPythonTools==0.3.2
packaging==21.0
pandas==1.3.0
Pillow==8.3.1
pipwin==0.5.1
pluggy==0.13.1
py==1.10.0
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.3
pyproj @ file:///C:/Users/grego/OneDrive/College/Kenya%20Research/pyproj-3.0.1-cp39-cp39-win_amd64.whl
pySmartDL==1.3.4
pytest==6.2.4
pytest-sugar==0.9.4
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Shapely==1.7.1
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
termcolor==1.1.0
threadpoolctl==2.2.0
toml==0.10.2
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.6
xarray==0.18.2
